/*** GRID Module ***/
/* Grids */
.wrapper {
  .main-wrapper;
  .clearfix();
}

[class*="col-"] {
  .set-cols;
}

[class*="col-"] img {
  max-width: 100%;
  height: auto;
}

[class*="col-"]:last-child {
  margin: 0;
}

.col-1  {  width: 100% * (1 / @columns); }
.col-2  {width: 100% * (2 / @columns); }
.col-3  { width: 100% * (3 / @columns); }
.col-4  { width: 100% * (4 / @columns); }
.col-5  { width: 100% * (5 / @columns); }
.col-6  { width: 100% * (6 / @columns); }
.col-7  { width: 100% * (7 / @columns);; }
.col-8  { width: 100% * (8 / @columns); }
.col-9  {width: 100% * (9 / @columns); }
.col-10 { width: 100% * (10 / @columns); }
.col-11 { width: 100% * (11 / @columns); }
.col-12 {width: 100% * (12 / @columns);}

/* Mobile */
@media screen and (max-width: @mobile) {

  [class*="col-"] {
    width: @fullSize;
  }

  .hidden-mobile {
    display:none; 
  }

  table, 
  thead, 
  tbody, 
  th, 
  td, 
  tr, 
  caption { 
    display: block;
  }
    
  thead tr {
    display: none;
  }   

}

.row { 
  margin-bottom: @fontSizeH;
  .clearfix(); 
}