@import "../svg/assets/baseui.less";
@import "../../less/template/tomorrow.less";
body{
	padding-left: 240px;
	font-family: Menlo, "Bitstream Vera Sans Mono", "DejaVu Sans Mono", Monaco, Consolas, monospace;
	color: #333;
}
a{
	color: #CECECE;
	&:hover{
		color: #fff;
	}
}
.nav{
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	z-index: 1;
	background: #44566B;
	width: 240px;
	header{
		background: #333C46;

		h1 a{
			display: inline-block;
			margin: 10px 0;
		}
	}
	ul{
		padding-left: 20px;
		a{
			display: block;
			padding: 5px 24px;
			transition:color .2s ease-out;
		}
	}
}
.logo{
	padding-top: 20px;
	a{
		display: inline-block;
	}
	
}
.subtitle{
	font-size: 28px;
	margin-top: 20px;
	color: #C1CCDD;
}
.stripe {
	padding: 88px 72px;
}
.main-content{
	background: #ECECEC;
	padding: 60px;
	section{
		background: #fff;
	}
}
.header{
	padding: 60px;
}
.m-a20{
	padding: 20px;
}
.demorow{
	background: #ebebeb;
	div{
		border: 1px solid #e0e0e0;
	}
}
.btn-group{
	padding: 20px;
	background: #ececec;
}